body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 60%;
}
h1{
    color: rgb(246, 193, 46);
    margin: 5%;
    display: block;
    text-align: center;
    text-shadow: 10px 0px 20px rgb(0, 0, 0);
   
}


#container{
    width: 100%;
    margin-left: 3%;
    

}
/*Para que el contenedor muestre los elementos aunque sean flotantes*/
#container:after{
    display: block;
    height: 0px;
    clear: both;
}
#container div{
    width: 20%;
    height: auto;
    -webkit-transition: 1s;
    -webkit-transform: 1s;
    display: inline;
    float: left;
    padding: 0px;
   
    
}
#container div img{
   width: 400px;
   height: 500px;
   box-shadow: 0 0 10px #666;
   border: 5px solid #FFF

}
#container div img~span{
width: 410px ;
display: block;
opacity: 0;
-webkit-transition: opacity 0.5s;
color: yellow;
background: black;
box-shadow: 0 0 20px yellow;
text-align: center;
font-size: 100%;
margin-bottom: 0px;
}
/*Descripcion al pasar el cursor*/
#container div img:hover+span{
    opacity: 1;
}
/*Se especifica el comportamiento que tendran las imagenes al posicionar el cursor encima del contenedor*/
#container:hover div {
    opacity: 0.8;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

/*Se especifica el comportamiento que tendran las imagenes seleccionadas*/
#container:hover div:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
    
}
@media screen and (max-width: 1500px){
    #container div{
        width: 25%;
    }
}
@media screen and (max-width: 1300px){
    #container div{
        width: 30%;
    }
}
@media screen and (max-width: 1000px){
    body{
        background-size: 100%;
    }
    #container div{
        width: 40%;
        margin: 20px;
    }
    #container{
        width: 100%;
        margin:10px;
    }
    #container div img{
        width: 400px;
        height: 500px;
    }
    #container div img~span{
        width: 410px
}
@media screen and (max-width: 700px){
    #container div{
        width: 40%;
        margin: 20px;
    }
    #container{
        width: 100%;
        margin:10px;
    }
    #container div img{
        width: 200px;
        height: 300px;

    }
    #container div img~span{
        width: 210px
}
@media screen and (max-width: 450px){
    #container div{
        width: 40%;
        margin: 20px;
    }
    #container{
        width: 100%;
        margin:10px;
    }
    #container div img{
        width: 200px;
        height: 300px;
    }
    #container div img~span{
        width: 210px

}